/* Import Permanent Marker and Open Sans fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Permanent+Marker');

body {
  font-family: 'Open Sans', sans-serif;
  background: url(./img/what-the-hex-dark.png) repeat;
  background-color: rgb(20,20,25);
  background-attachment: fixed;
}
