.hero-intro{
    height: calc(100vh - 138px);
    position: relative
}

.jumbotronFullBottom{
    height: 100%;
    bottom: 0;
}

.jumbotronRowBottom{
    position: absolute;
    bottom: 0;
    margin-right: 0
}

.jumbotron__nameSection{
    margin-bottom: 3rem
}

.jumbotron__name{
    color: randColor;
    font-family: 'Permanent Marker', sans-serif;
}

.jumbotron__CTA{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2.5rem;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-top: 3rem;
    padding: 1.5rem 3rem;
    border-radius: .3rem;
    background-color: randColor;
    color: rgb(20,20,25);
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    cursor: pointer;
}

.markerFont{
    font-family: 'Permanent Marker', sans-serif;
}
